* {
    margin: 0;
    --bc-tp: hsla(200, 50%, 40%, 0.178);
    --bc-solid: hsl(200, 50%, 40%);
    --bc-solid-dark: hsl(200, 50%, 24%);
    --search-component-width: 35rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* APP */

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--bc-tp);
    overflow: scroll;
}

/* TITLE AND MENU BUTTON */

.title-and-menu-button {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: var(--bc-solid);
    color: rgb(219, 219, 219);
    box-shadow: 5px 0 5px 0 var(--bc-solid-dark);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MENU BUTTON */

.menu-button {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(219, 219, 219);
}

.menu-button:hover {
    cursor: pointer;
}

/* LIVE COMPONENT */

.live-component-container {
    background-color: var(--bc-tp);
    display: flex;
    flex-direction: column;
}

.live-component-container h2 {
    margin: .5em 0;
}

.game-info-container {
    margin-bottom: 1em;
    padding: 0 2em;
    background-color: var(--bc-tp);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.played-img {
    height: 8rem;
}

/* SEARCH COMPONENT */

.search-component-container {
    background-color: var(--bc-solid);
    box-shadow: 0 5px 5px 0 var(--bc-solid-dark);
    position: absolute;
    top: 0;
    height: 100vh;
    width: var(--search-component-width);
    transition: right 200ms ease;
}

.search-component-container.visible {
    right: 0;
}

.search-component-container.hidden {
    right: calc(var(--search-component-width) * -1);
}

.search-component-container .menu-button {
    padding: .2em .5em 0 0;
}