* {
    margin: 0;
    --bc-tp: hsla(200, 30%, 40%, 0.178);
    --bc-solid: hsl(200, 50%, 40%);
    --bc-solid-dark: hsl(200, 50%, 24%);
    --white: hsl(0, 0%, 90%);
    --gray: hsl(200, 20%, 80%);
    --search-component-width: 35rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* APP */

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--bc-tp);
    overflow: scroll;
}

/* TITLE AND MENU BUTTON */

.title-and-menu-button {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: var(--bc-solid);
    color: var(--white);
    box-shadow: 0 0 2px 0 var(--bc-solid-dark);

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.title-and-menu-button a {
    color: var(--white);
}

.info-text {
    white-space: nowrap;
}

/* MENU BUTTON */

.menu-button {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.menu-button:hover {
    cursor: pointer;
}

/* LIVE COMPONENT */

.live-component-container {
    display: flex;
    flex-direction: column;
}

.live-component-container h2 {
    margin: .5em 0;
}

.game-info-container {
    margin-bottom: 1em;
    background-color: var(--bc-tp);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.game-info-middle-container {
    width: 100%;
}

.game-info-middle-container>p {
    text-align: center;
}

.player-info-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-info-container.won {
    box-shadow: 0 0 10px 0 var(--bc-solid) inset;
}

.played-img {
    height: 7rem;
}

/* SEARCH COMPONENT */

.search-component-container {
    background-color: var(--bc-solid);
    box-shadow: 0 0 2px 0 var(--bc-solid-dark);
    position: absolute;
    top: 0;
    height: 100vh;
    width: var(--search-component-width);
    transition: right 200ms ease;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.player-list {
    overflow: scroll;
    width: 100%;

}

.search-component-container.visible {
    right: 0;
}

.search-component-container.hidden {
    right: calc(var(--search-component-width) * -1.2);
}

.search-component-container .menu-button {
    align-self: flex-end;
    padding: .3em .8em;
}

.search-input {
    width: 80%;
    padding: .2em;
}

.player-search-item {
    padding: .5em 0;
    width: 100%;
    text-align: center;
}

.player-search-item:hover {
    cursor: pointer;
    background-color: var(--bc-solid-dark);
    color: var(--white);
}

.player-stats-component {
    background-color: var(--gray);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: right 200ms ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 2px 0 var(--gray);
}

.player-stats-component>* {
    margin: .5em 0;
}

.player-stats-component.visible {
    right: 0;
}

.player-stats-component.hidden {
    right: calc(var(--search-component-width) * -1.2);
}

.player-stats>h3 {
    font-weight: 300;
}

.back-button {
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.back-button:hover {
    cursor: pointer;
    background-color: var(--bc-tp);
}