* {
    margin: 0;
    --bc: rgba(151, 229, 229, 0.39);
    --search-component-width: 30rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* APP */

.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--bc)
}

.title {
    text-align: center;
}

/* MENU BUTTON */

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button:hover {
    cursor: pointer;
}

/* LIVE COMPONENT */

.live-component-container {
    background-color: var(--bc)
}

.live-component-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}


/* SEARCH COMPONENT */

.search-component-container {
    background-color: lightblue;
    position: absolute;
    top: 0;
    height: 100vh;
    width: var(--search-component-width);
    transition: right 200ms ease;
}

.search-component-container.visible {
    right: 0;
}

.search-component-container.hidden {
    right: calc(var(--search-component-width) * -1);
}